body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Cursor */
* {
  cursor: none !important;
}

.cursor {
  z-index: 1000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  background: #000;
  pointer-events: none !important; 
  transform: translate3d(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
}

.about-text-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
}


/* Swiper */
.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
}

.swiper-pagination-bullet-active {
  background: #fff !important;
}


/* Menu */

.menu-item-container {
  background: #fff;
  margin: 1rem 0;
  position: relative; 
  width: 100%;
}

.menu-item-container:nth-child(1) {
  margin-top: 0 ;
}

.menu-item-container::after {
  content: "";
  width: 0;
  height: 1px;
  background: #000;
  position: absolute;
  top: -8px;
  left: 0;
  transition: all 0.6s;
}

.menu-item-container::before {
  content: "";
  width: 0;
  height: 1px;
  background: #000;
  position: absolute;
  bottom: -8px;
  left: 0;
  transition: all 0.6s;
}

.menu-item-container:hover {
  background: #fff;
}

.menu-item-container:hover::after { 
  width: 100%;
}

.menu-item-container:hover::before { 
  width: 100%;
}

.menu-item-image {
  opacity: 0;
  transition: all 0.6s;
}

.menu-item-container:hover .menu-item-image {
  opacity: 1;
  scale: 1.1
}


.active-menu-item > .menu-item-container > .menu-item-image {
  height: 140px;
  border-radius: 1rem;
}
